@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewBag.Title - Patient Management Portal</title>
	<link href="https://kendo.cdn.telerik.com/2021.2.616/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2021.2.616/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2021.2.616/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.aspnetmvc.min.js"></script>
	<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

	@Html.Kendo().DeferredScripts()

	@RenderSection("scripts", required: false)

	<style>
		nav {
			color: #0066ff;
		}
		main {
			color: #0066ff;
		}
		img {
			padding-right: 20px;
		}
		#site-menu {
			padding-right: 50px;
			color: #0066ff;
		}

	</style>
</head>
<body class="k-content">
	<nav id="shared-menu" class="navbar navbar-expand-lg navbar-light navbar-fixed-top d-flex">
		<div id="nav-brand" class="container">
			<a class="navbar-brand h1" href="~/Views/Home/Index.cshtml">
				<img class="d-inline-block align-text-bottom" src="~/Images/Medical-Icon_80px.png"/>Patient Management Portal
			</a>
		</div>
		<div id="site-menu">
			@(Html.Kendo().Menu()
						.Name("Menu")
						.Items(items =>
						{
							items.Add().Text("Home").Action("Index", "Home", new { area = "" });

							if (Request.IsAuthenticated)
								{
								//Get the user name and extract the characters before the @ to shorten the user name displayed
								string getUser = User.Identity.GetUserName();
								string userSub = getUser.Substring(0, getUser.IndexOf("@"));


								items.Add().Text("Patients").Action("Index", "Patients", new { area = "" });
								items.Add().Text("Appointments").Action("Index", "Appointments", new { area = "" });
								items.Add().Text("Hello " + userSub + "!").Action("Index", "Manage", routeValues: null).ContentHtmlAttributes(new { title = "Manage" });
								items.Add().Text("Log Off").HtmlAttributes(new { onclick = "getElementById('logoutForm').submit()" });
								}
							else
								{
								items.Add().Text("Register").Action("Register", "Account", routeValues: null).ContentHtmlAttributes(new { id = "registerLink" });
								items.Add().Text("Log in").Action("Login", "Account", routeValues: null).ContentHtmlAttributes(new { id = "loginLink" });
								}
						})
                    )
			@if (Request.IsAuthenticated)
				{
				using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
					{
					@Html.AntiForgeryToken()
					}
				}
		</div>
	</nav>
	<hr />
	<div id="breadcrumb">
		@(Html.Kendo().Breadcrumb()
    .Name("breadcrumb")
    .BindToLocation(true)
    .Navigational(true)
    )
	</div>
	<br />
	<main>
		<div class="container-fluid">
			@RenderBody()
		</div>
	</main>

	<footer class="footer text-center d-flex align-items-center">
		<div class="container-fluid">
			<hr />
			<p>Copyright &copy; @DateTime.Now.Year Spinsys All Rights Reserved.</p>
		</div>
	</footer>


	<script>
		//$(document).ready(function () {
		//	$("#site-menu").kendoResponsivePanel({
		//		breakpoint: 768,
		//		autoClose: false,
		//		orientation: "top"
		//	});

		//color text to right of icon
		$("a.navbar-brand").css("color", "rgb(83, 153, 249)");

		//function onclick(e) {
		//	$("#site-menu").getKendoResponsivePanel().toggle();
		//}
	</script>
</body>
</html>
