@model IEnumerable<PatientPortalApp.Models.Provider>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Providers</h2>
<br />
<p>
    @Html.ActionLink("Create New", "Create", new { id = "create-appointment" }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProviderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProviderId }, new { @class = "btn btn-primary", @style = "width : 80px;" })
            @Html.ActionLink("Details", "Details", new { id=item.ProviderId }, new { @class = "btn btn-primary", @style = "width : 80px;" })
            @Html.ActionLink("Delete", "Delete", new { id=item.ProviderId }, new { @class = "btn btn-danger", @style = "width : 80px;" })
        </td>
    </tr>
}

</table>
