@{
	ViewBag.Title = "Home Page";
}

<style>
	.k-content {
		line-height: 4em;
		align-content: center;
	}

		.k-content .k-button {
			width: 200px;
			height: 175px;
			margin: 20px;
			background-color: white;
			border: 50px black;
			color: black;
			font-size: 17px;
			border: 2.5px solid black;
		}

	.k-button .k-image {
		width: 150px;
		height: 120px;
	}

	.class-color {
		color: lightblue;
		display: table-cell;
		vertical-align: top;
	}

	.k-content .k-icon {
		color: #0D6EFD;
		height: 16px;
	}

	.k-button:hover {
		background-color: #dbdbe0;
	}

	.k-panelbar .k-content {
		padding: 20px;
	}

	p .k-button {
		margin: 0 15px 0 0;
	}

	.k-state-active .label {
		font-size: 1em;
	}
</style>

<div class="k-content">

@(Html.Kendo().Button()
	.Name("Appointments")
	.Icon("calendar")
	.HtmlAttributes( new {type = "button"} )
	.Content("Appointments")
	.Events(e => e.Click("appointments"))
)
@(Html.Kendo().Button()
	.Name("Patients")
	.HtmlAttributes( new {type = "button"} )
	.Icon("table")
	.Content("Patients")
	.Events(e => e.Click("patients"))
)
@(Html.Kendo().Button()
	.Name("Providers")
	.HtmlAttributes( new {type = "button"} )
	.Icon("user")
	.Content("Providers")
	.Events(e => e.Click("providers"))
)
@(Html.Kendo().Button()
	.Name("Medication")
	.HtmlAttributes(new { type = "button" })
	.Icon("plus-circle")
	.Content("Medication")
	.Events(e => e.Click("medications"))
)
@(Html.Kendo().Button()
	.Name("Treatments")
	.HtmlAttributes( new {type = "button"} )
	.Icon("accessibility")
	.Content("Treatments")
	.Events(e => e.Click("treatments"))
)
</div>

<script>
function patients() {
window.location = '@Url.Action("Index", "Patients")';
}

function medications() {
	window.location = '@Url.Action("Index", "Medications1")';
}

function appointments() {
window.location = '@Url.Action("Index", "Appointments1")';
}

function providers() {
window.location = '@Url.Action("Index", "Providers1")';
}

function treatments() {
window.location = '@Url.Action("Index", "Treatments1")';
}
</script>