@{
	ViewBag.Title = "Home Page";
}

<div class="k-content">
	@*<h4>Kendo UI Button with icons</h4>*@

	@(Html.Kendo().Button()
.Name("Appointments")
.Icon("calendar")
.HtmlAttributes( new {type = "button"} )
.Content("Appointments")
.Events(e => e.Click(
"appointments"))
)
	@(Html.Kendo().Button()
.Name("Patients")
.HtmlAttributes( new {type = "button"} )
.Icon("table")
.Content("Patients")
.Events(e => e.Click(
"patients"))
)
	@(Html.Kendo().Button()
.Name("Providers")
.HtmlAttributes( new {type = "button"} )
.Icon("user")
.Content("Providers")
.Events(e => e.Click(
"providers"))
)
	@(Html.Kendo().Button()
.Name("Medication")
.HtmlAttributes(new { type = "button" })
.Icon("plus-circle")
.Content("Medication")
.Events(e => e.Click(
"medications"))
)
	@(Html.Kendo().Button()
.Name("Treatments")
.HtmlAttributes( new {type = "button"} )
.Icon("accessibility")
.Content("Treatments")
.Events(e => e.Click(
"treatments"))
)




</div>

<style>
	.k-content {
		line-height: 4em;
	}

		.k-content .k-button {
			/*margin-right: 10px;*/
			width: 200px;
			height: 175px;
			margin: 20px;
			background-color: white;
			border: 50px black;
			color: black;
			font-size: 17px;
			border: 2.5px solid black;
		}

	.k-button .k-image {
		/*height: 16px;*/
		width: 150px;
		height: 120px;
	}

	.class-color {
		color: lightblue;
		display: table-cell;
		vertical-align: top;
	}

	.k-content .k-icon {
		/*margin-right: 10px;*/
		color: #0D6EFD;
		height: 16px;
	}

	.k-button:hover {
		background-color: #dbdbe0;
	}
</style>

<script>
function patients() {
window.location = '@Url.Action("Index", "Patients")';

}

function medications() {
window.location = '@Url.Action("Index", "Medications")';

}

function appointments() {
window.location = '@Url.Action("Index", "Appointments")';

}

function providers() {
window.location = '@Url.Action("Index", "Providers")';

}

function treatments() {
window.location = '@Url.Action("Index", "Treatments")';

}

</script>