@model IEnumerable<PatientPortalApp.Models.Medication>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@(Html.Kendo().Grid(Model)
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(m => m.MedicationId);
        columns.Bound(m => m.MedicationName);
        columns.Bound(m => m.MedDescription);
    })
    )

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MedicationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MedicationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MedicationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MedicationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MedicationId })
        </td>
    </tr>
}

</table>
