@model IEnumerable<PatientPortalApp.Models.ViewModels.PatientAppointmentViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider.ProviderName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.ProviderName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PatientAppointmentViewModelId }) |
                @Html.ActionLink("Details", "Details", new { id=item.PatientAppointmentViewModelId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PatientAppointmentViewModelId })
            </td>
        </tr>
    }

    </table>
</body>
</html>
