@model IEnumerable<PatientPortalApp.Models.Referral>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Prefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferralDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferralDoctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Procedure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.Prefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferralDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferralDoctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Procedure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReferralId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReferralId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReferralId })
        </td>
    </tr>
}

</table>
