@model IEnumerable<PatientPortalApp.Models.Referral>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Referrals</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = "create-referral" }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferralDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferralDoctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Procedure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferralDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferralDoctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Procedure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>

        <td width="25%">
            @Html.ActionLink("Edit", "Edit", new { id=item.ReferralId }, new { @class = "btn btn-primary", @style = "width : 80px;" })
            @Html.ActionLink("Details", "Details", new { id=item.ReferralId }, new { @class = "btn btn-primary", @style = "width : 80px;" })
            @Html.ActionLink("Delete", "Delete", new { id=item.ReferralId }, new { @class = "btn btn-danger", @style = "width : 80px;" })
        </td>
    </tr>
}

</table>
