@model PatientPortalApp.Models.Provider

@{
    ViewBag.Title = "Details";
}

<style>
	dd {
		color: black;
	}
</style>

<h2>Provider Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialty)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProviderId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", new { id = "back-to-index" }, new { @class = "btn btn-primary" })
</p>
